body {
    margin: 0;
    font-family: Stolzl, Roboto, sans-serif;
}

main {
    z-index: 1;
    padding: 50px;
}

.content {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    background-color: #141414;
    max-width: 1200px;
    display: flex;
    padding-right: 150px;
    margin: 50px auto;
}

.news-main{
    width: 780px;
    position: relative;
    margin-left: 0px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 25px;
    background-color: #2c2c2c;
    color: #ffffff;
}

.news-main-item{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.news-main-img{
    width: 380px;
}

.news-main-head{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

.news-main-header{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.news-main-text{
    flex: 1;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.news-main-container{
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.news-main-img:hover{
    color: #000000;
    opacity: 0.8;
}

.news-main-text-link:hover{
    color: #b2b2b2;
}

.tags{
    display: inline-flex;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.tag{
    margin-right: 20px;
    color: #CF251D;
    font-size: 14px;
}

.tag:hover{
    color: #981f18;
}

.undertext{
    margin-top: 15px;
    display: inline-flex;
    font-size: 12px;
    margin-bottom: 35px;
}

.date{
    margin-right: 15px;
    color: #a4a4a4;
    font-size: 12px;
}

.author{
    font-size: 12px;
    font-weight: 600;
}